.readRow > td{
    background-color:#C2D3D9;
}
.readRowIp > td{
    background-color:#EDF2F4;
}

.readCell,.descriptionReadCell{
    height: 12vh;

    transition: 0.2s;
}


.readCell >p::-webkit-scrollbar, .descriptionReadCell >p::-webkit-scrollbar {
    width: 0.2vw;
}
.readCell{
    width: 5%;
    text-align: center;
}
.descriptionReadCell{
    width: 24%;
}
.readCell > p,.descriptionReadCell > p{
    height: 12vh;

    overflow-y: scroll;
}
.readCell:hover,.descriptionReadCell:hover{
    background-color: #BC5763;

    cursor:copy;
}

.actionRow{
    display: flex;
    flex-direction: column;

    height: 12vh;
}
.actionRow > button{
    width: 2.6vw;
    height: 3vh;
    margin: auto;

    border-radius: 0.5vh;
    background-color: #e72c4229;

    font-weight: bold;
    cursor: pointer;

    transition: 0.2s;
}
.actionRow > button:hover{
    border-radius: 0.2vh;
    background-color: #E72C42;
}